{% extends 'base.html.twig' %}

{% block title %}Panier{% endblock %}

{% block body %}

    {% if items | length > 0  %}
        <section class="hero is-fullheight">
            <form action="{{ path('app_commande') }}">
                <div class="hero-body">
                    <div class="container py-5">
                        <div class="columns is-centered is-vcentered">
                            <div class="column is-8"> <!-- Adjust the column width as needed -->
                                <div class="card">
                                    <div class="card-content has-text-black">
                                        <div class="columns">
                                            <div class="column is-12"> <!-- Adjust the column width as needed -->
                                                <h3 class="title is-4 mb-5 has-text-centered has-text-weight-bold">Vos produits</h3>
                                                {% for item in items %}
                                                    <div class="columns is-vcentered mb-5">
                                                        <div class="column is-3">
                                                            <figure class="image is-100x100">
                                                                <img src="{{ asset('img/' ~ item.produit.image) }}" alt="Product Image">
                                                            </figure>
                                                        </div>
                                                        <div class="column">
                                                            <div class="columns is-vcentered">
                                                                <div class="column is-two-thirds">
                                                                    <h5 class="has-text-primary">{{ item.produit.nom }}</h5>
                                                                </div>
                                                                <div class="column">

                                                                    <a style="color: red" href="{{ path('cart_remove', {'id': item.produit.id}) }}">
                                                                      Retirer du panier
                                                                    </a>

                                                                </div>
                                                            </div>
                                                            <h6 class="has-text-grey">Quantité : {{ item.quantity }}</h6>
                                                            <div class="columns is-vcentered">
                                                                <div class="column">
                                                                    <p class="has-text-weight-bold mb-0">{{ item.produit.prix }} €</p>
                                                                </div>
                                                            </div>
                                                            <p>Total prix de ce produit : {{ item.produit.prix * item.quantity }} €</p>
                                                        </div>
                                                    </div>
                                                    <hr class="mb-4" style="height: 2px; background-color: #1266f1; opacity: 1;">
                                                {% endfor %}

                                                <div class="columns is-mobile is-centered is-justify-content-between p-2 mb-2"
                                                     style="background-color: #e1f5fe;">
                                                    <h5 class="has-text-weight-bold mb-0">Total de la commande :</h5>
                                                    <h5 class="has-text-weight-bold mb-0"> {{ total }} €</h5>
                                                </div>
                                                <button type="submit" class="button is-primary is-fullwidth">Valider mon panier</button>
                                                <a  href="{{ path('app_shop') }}"><i class="fas fa-angle-left me-2"></i>Retour a la boutique</a>
                                            </div>
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </form>
        </section>
    {% else %}
        <section >
            <div class="hero-body mt-6 mb-5">
                <div class="container">
                    <div class="columns is-centered">
                        <div class="column is-half">
                            <div class="carte" style="border-radius: 15px; background-color: white;">
                                <div class="card-content has-text-black">
                                    <h3 class="title is-4 mb-5 has-text-centered has-text-weight-bold">Votre panier est vide</h3>
                                    <figure class="image is-128x128 mb-5 mx-auto">
                                        <img src="{{ asset('img/sad.avif') }}" alt="Empty Cart">
                                    </figure>
                                    <p class="has-text-centered">Votre panier est actuellement vide.</p>
                                    <p class="has-text-centered">Ajoutez des produits à votre panier en explorant notre boutique.</p>
                                    <div class="has-text-centered mt-4">
                                        <a href="{{ path('app_shop') }}" class="button is-primary">Explorer la boutique</a>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </section>
    {% endif %}

{% endblock %}
