{% extends 'base.html.twig' %}

{% block title %}Accueil{% endblock %}



{% block body %}
    <link rel="stylesheet" href="https://fonts.googleapis.com/css?family=Open+Sans|Varela+Round">
    <div>
        <div class="nometimg">
            <h1 class="nomsite">TechWave</h1>
            <img src="{{ asset('img/background.jpg') }}" alt="">
        </div>
    </div>


<div class="razer">
    <h1 class="ipad">NOUVEAU RAZER BLADE 16 & 18 </h1>
    <img src="{{ asset('img/razerordi.webp') }}" alt="">
</div>

    <section class="section">
            <div class="columns">
                <div class="column pub">
                    <div class="box">
                        <img src="{{ asset('img/seriessblackteaser.png') }}" alt="">
                    </div>
                </div>
                <div class="column pub">
                    <div class="box">
                        <a href="{{ path('app_shop_produit', {'slug' : 'playstation5'}) }}">
                                <img src="{{ asset('img/ps5-noir.jpg') }}" alt="">
                        </a>
                    </div>
                </div>
            </div>

    </section>

    <div class="divbutboutique">
        <button class="butboutique"><a href="{{ path('app_shop') }}">Acceder a la boutique</a></button>
    </div>

    <div class="video-container">
        <h1 class="ipad">iPad Pro</h1>
        <video id="myVideo" src="{{ asset('video/apple.mp4') }}" muted playsinline></video>
        <div id="playButton"></div>
    </div>

    <script type="module" src="https://unpkg.com/ionicons@5.5.2/dist/ionicons/ionicons.esm.js"></script>
    <script>
        // Sélectionnez la vidéo et le bouton
        const video = document.getElementById('myVideo');
        const playButton = document.getElementById('playButton');

        // Fonction pour lancer la vidéo lorsqu'on clique sur le bouton
        function playVideo() {
            video.play();
            playButton.style.display = 'none'; // Masquer le bouton après le lancement de la vidéo
        }

        // Ajoutez un gestionnaire d'événements pour lancer la vidéo lors du clic sur le bouton
        playButton.addEventListener('click', playVideo);

        // Créez un observateur d'intersection
        const observer = new IntersectionObserver(entries => {
            entries.forEach(entry => {
                if (entry.isIntersecting) {
                    // La vidéo est dans la vue, alors jouez-la
                    video.play();
                } else {
                    // La vidéo n'est pas dans la vue, alors mettez-la en pause
                    video.pause();
                }
            });
        });

        // Connectez l'observateur à la vidéo
        observer.observe(video);
    </script>
{% endblock %}