{% extends 'base.html.twig' %}
{% block body %}
    <div class="container">
        <div class="card">
            <div class="card-body">
                <h1 class="card-title text-center">{{ produit.nom }}</h1>
                <div class="row">
                    <div class="product-image">
                        <img src="{{ asset(produit.image) }}" alt="Product Image" >
                    </div>
                    <div class="product-details">
                        <h3 class="box-title mb-5">Description du produit</h3>
                        <p>{{ produit.description|nl2br }}</p>
                        <h2 class="mt-5">
                            {{ produit.prix }} €
                        </h2>
                        <button class="btn btn-outline-primary btn-sm mt-2" type="button">
                            <a href="{{ path('cart_add', {'id' : produit.id}) }}">Ajouter au panier</a>
                        </button>
                    </div>
                    <div class="product-info">
                        <h3 class="box-title mt-5">Information supplementaire</h3>
                        <div class="table-responsive">
                            <table class="table table-striped table-product">
                                <tbody>
                                <tr>
                                    <td >Marque</td>
                                    <td>{{ produit.marque }}</td>
                                </tr>
                                <tr>
                                    <td>Materiaux</td>
                                    <td>{{ produit.materiau }}</td>
                                </tr>
                                <tr>
                                    <td>Couleur</td>
                                    <td>{{ produit.couleur }}</td>
                                </tr>
                                <tr>
                                    <td>Dimensions</td>
                                    <td>{{ produit.dimensions }}</td>
                                </tr>
                                <tr>
                                    <td>Poids</td>
                                    <td>{{ produit.poids }}</td>
                                </tr>
                                <tr>
                                    <td>Assemblage</td>
                                    <td>{{ produit.assemblage }}</td>
                                </tr>
                                </tbody>
                            </table>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
{% endblock %}